Repository yossibmoha/NingaIT, changes with the labels that .github/labeler.yml gives for each.
All labels: component: backend, component: frontend, component: agent, component: infrastructure, component: database, type: documentation, type: test, component: security

docs: add GitHub project setup guide
  GITHUB_PROJECT_SETUP.md
Labels: type: documentation

docs: add deployment summary
  DEPLOYMENT_SUMMARY.md
Labels: type: documentation

docs: reorganize documentation - move all MD files to docs folder
  README.md
  TARGET_AUDIENCE_UPDATE.md
  docs/AGENT_PLATFORM_SUPPORT.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/DEPLOYMENT_SUMMARY.md
  docs/GITHUB_PROJECTS.md
  docs/GITHUB_PROJECT_SETUP.md
  docs/PROJECT_PLAN.md
Labels: type: documentation

docs: add GitHub Project integration guide
  docs/GITHUB_PROJECT_INTEGRATION.md
Labels: type: documentation

docs: update README with comprehensive documentation links
  README.md
Labels: type: documentation

feat(api-gateway): implement Fastify API Gateway foundation
  backend/api-gateway/.gitignore
  backend/api-gateway/package.json
  backend/api-gateway/src/config/index.ts
  backend/api-gateway/src/index.ts
  backend/api-gateway/src/plugins/index.ts
  backend/api-gateway/src/routes/auth.ts
  backend/api-gateway/src/routes/devices.ts
  backend/api-gateway/src/routes/index.ts
  backend/api-gateway/src/routes/users.ts
  backend/api-gateway/src/utils/logger.ts
  backend/api-gateway/tsconfig.json
  docs/DEVELOPMENT_TASKS.md
Labels: component: backend, type: documentation

feat(database): implement complete PostgreSQL schema and init scripts
  backend/shared/database/schema.sql
  scripts/setup/init-databases.sh
Labels: component: backend, component: database

docs: add Sprint 1 progress report - Day 1
  docs/SPRINT_1_PROGRESS.md
Labels: type: documentation

docs: add comprehensive development status and progress tracking
  README_DEVELOPMENT_STATUS.md
  docs/CONTRIBUTING.md
Labels: type: documentation

feat(tools): add GitHub Project management automation
  scripts/github-project-sync.sh
Labels: none

docs: add comprehensive GitHub Project setup guide
  docs/GITHUB_PROJECT_SETUP_COMPLETE.md
Labels: type: documentation

feat(auth): implement complete authentication service
  backend/api-gateway/src/middleware/auth.ts
  backend/api-gateway/src/routes/auth-v2.ts
  backend/api-gateway/src/services/auth.service.ts
  backend/services/auth/package.json
  backend/services/auth/src/index.ts
  backend/services/auth/tsconfig.json
Labels: component: backend, component: security

feat(frontend): implement complete Next.js 14 + Ant Design 5 frontend
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/next.config.js
  frontend/package.json
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/register/page.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/theme.ts
  frontend/src/store/auth.ts
  frontend/tsconfig.json
Labels: component: frontend, type: documentation

feat(agent): implement Go-based cross-platform monitoring agent
  agent/Makefile
  agent/README.md
  agent/agent.yaml.example
  agent/cmd/ninjait-agent/main.go
  agent/go.mod
  agent/internal/api/client.go
  agent/internal/config/config.go
  agent/internal/monitor/monitor.go
Labels: component: agent, type: documentation

feat(ci-cd): implement comprehensive GitHub Actions workflows
  .github/workflows/ci-agent.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Labels: component: infrastructure

feat(testing): implement comprehensive Playwright E2E test framework
  .github/workflows/ci-e2e.yml
  tests/e2e/README.md
  tests/e2e/package.json
  tests/e2e/playwright.config.ts
  tests/e2e/specs/accessibility.spec.ts
  tests/e2e/specs/auth.spec.ts
  tests/e2e/specs/dashboard.spec.ts
Labels: component: infrastructure, type: documentation, type: test

feat(docker): implement production-ready Docker configuration
  agent/Dockerfile
  backend/api-gateway/Dockerfile
  docker-compose.prod.yml
  frontend/Dockerfile
  nginx/nginx.conf
Labels: component: backend, component: frontend, component: agent

docs: Sprint 1 completion summary
  SPRINT_1_COMPLETE.md
Labels: type: documentation

feat: add monitoring service with InfluxDB integration - Go microservice for metrics collection - 900+ lines of code - Phase 1 complete 10/10
  backend/services/monitoring/Dockerfile
  backend/services/monitoring/Makefile
  backend/services/monitoring/README.md
  backend/services/monitoring/cmd/monitoring-service/main.go
  backend/services/monitoring/config.yaml.example
  backend/services/monitoring/go.mod
  backend/services/monitoring/internal/api/server.go
  backend/services/monitoring/internal/config/config.go
  backend/services/monitoring/internal/storage/influxdb.go
  backend/services/monitoring/pkg/models/models.go
Labels: component: backend, type: documentation

docs: Phase 1 complete - Final report and README update
  PHASE_1_FINAL_REPORT.md
  README.md
Labels: type: documentation

feat: add device management UI with list and detail views
  frontend/src/app/dashboard/devices/[id]/page.tsx
  frontend/src/app/dashboard/devices/page.tsx
Labels: component: frontend

feat: implement complete device API with CRUD, metrics, alerts, and script execution endpoints
  backend/api-gateway/src/routes/devices.ts
Labels: component: backend

docs: Phase 2 progress - 2/8 tasks complete (25%)
  PHASE_2_PROGRESS.md
Labels: type: documentation

docs: Phase 2 progress update - 3/8 tasks complete (37.5%)
  PHASE_2_PROGRESS.md
Labels: type: documentation

feat: implement comprehensive alert system
  backend/api-gateway/src/routes/alerts.ts
  backend/api-gateway/src/routes/index.ts
  backend/api-gateway/src/services/alerts/notification-service.ts
  backend/api-gateway/src/services/alerts/rules-engine.ts
  frontend/src/app/dashboard/alerts/page.tsx
Labels: component: backend, component: frontend

docs: Phase 2 progress - 4/8 tasks complete (50%)
  PHASE_2_PROGRESS.md
Labels: type: documentation

feat: implement script execution system backend
  backend/api-gateway/src/routes/index.ts
  backend/api-gateway/src/routes/scripts.ts
  backend/api-gateway/src/services/scripts/execution-engine.ts
Labels: component: backend

docs: Phase 2 progress - 5/8 tasks complete (62.5%)
  PHASE_2_PROGRESS.md
Labels: type: documentation

feat: implement dashboard enhancement with real-time charts
  frontend/src/app/dashboard/analytics/page.tsx
  frontend/src/components/dashboard/MetricsGrid.tsx
  frontend/src/components/dashboard/RealTimeChart.tsx
Labels: component: frontend

feat: implement user management with RBAC
  frontend/src/app/dashboard/users/page.tsx
Labels: component: frontend

feat: implement comprehensive reporting system
  frontend/src/app/dashboard/reports/page.tsx
Labels: component: frontend

docs: Phase 2 complete - comprehensive final report
  PHASE_2_FINAL_REPORT.md
Labels: type: documentation

docs: update README for Phase 2 completion
  README.md
Labels: type: documentation

docs: add GitHub Project Phase 2 update
  GITHUB_PROJECT_PHASE2_UPDATE.md
Labels: type: documentation

docs: add comprehensive project status document
  PROJECT_STATUS.md
Labels: type: documentation

feat: Phase 3.1 - Database connection layer (PostgreSQL, InfluxDB, Dragonfly)
  backend/api-gateway/package.json
  backend/api-gateway/src/config/index.ts
  backend/api-gateway/src/database/connection.ts
Labels: component: backend

feat: PostgreSQL integration with migrations and seeders
  backend/api-gateway/src/database/migrate.ts
  backend/api-gateway/src/database/migrations/001_initial_schema.sql
  backend/api-gateway/src/database/seed.ts
  backend/api-gateway/src/index.ts
Labels: component: backend

docs: Phase 3 progress and GitHub issues
  PHASE_3_PROGRESS.md
Labels: type: documentation

refactor: rename repository from NingaIT to NinjaIT
  GITHUB_PROJECT_PHASE2_UPDATE.md
  GITHUB_PROJECT_PHASE3_SETUP.md
  PHASE_1_FINAL_REPORT.md
  PHASE_2_FINAL_REPORT.md
  PHASE_3_PROGRESS.md
  PROJECT_STATUS.md
  README.md
  README_DEVELOPMENT_STATUS.md
  SPRINT_1_COMPLETE.md
  agent/README.md
  agent/cmd/ninjait-agent/main.go
  agent/go.mod
  agent/internal/api/client.go
  agent/internal/monitor/monitor.go
  backend/api-gateway/src/index.ts
  backend/api-gateway/src/routes/alerts.ts
  backend/api-gateway/src/routes/index.ts
  backend/services/monitoring/cmd/monitoring-service/main.go
  backend/services/monitoring/go.mod
  backend/services/monitoring/internal/api/server.go
  backend/services/monitoring/internal/storage/influxdb.go
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/DEPLOYMENT_SUMMARY.md
  docs/DEVELOPMENT.md
  docs/GITHUB_PROJECT_INTEGRATION.md
  docs/GITHUB_PROJECT_SETUP.md
  docs/GITHUB_PROJECT_SETUP_COMPLETE.md
  docs/SPRINT_1_PROGRESS.md
  docs/WEBSOCKET_API.md
  frontend/package.json
  scripts/github-project-sync.sh
Labels: component: backend, component: frontend, component: agent, type: documentation

fix: add InfluxDB to CI and fix environment variables
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docker.yml
Labels: component: infrastructure

.github/labeler.yml:

# Auto-label pull requests based on file patterns

# Component labels
'component: backend':
  - 'backend/**/*'
  - 'backend/*'

'component: frontend':
  - 'frontend/**/*'
  - 'frontend/*'

'component: agent':
  - 'agent/**/*'
  - 'agent/*'

'component: infrastructure':
  - 'k8s/**/*'
  - 'docker-compose.yml'
  - 'Dockerfile'
  - '.github/workflows/**/*'
  - 'terraform/**/*'

'component: database':
  - '**/*migration*'
  - '**/prisma/**/*'
  - '**/schema.sql'

'type: documentation':
  - 'docs/**/*'
  - '**/*.md'
  - 'README*'

'type: test':
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.test.js'
  - '**/*.spec.ts'
  - '**/*.spec.js'
  - '**/tests/**/*'
  - '**/__tests__/**/*'

'component: security':
  - '**/security/**/*'
  - '**/auth/**/*'
  - '**/middleware/auth*'
