Repository yossibmoha/NingaIT, changes with the labels that .github/labeler.yml gives for each.
All labels: component: backend, component: frontend, component: agent, component: infrastructure, component: database, type: documentation, type: test, component: security

docs: add CI fix summary
  CI_FIX_SUMMARY.md
Labels: type: documentation

fix: resolve TypeScript errors in auth service and CI permissions
  .github/workflows/ci-backend.yml
  backend/services/auth/src/index.ts
Labels: component: backend, component: infrastructure, component: security

fix: remove npm cache from CI to avoid path resolution issues
  .github/workflows/ci-backend.yml
Labels: component: infrastructure

fix: complete auth service rewrite and make CI more lenient
  .github/workflows/ci-backend.yml
  backend/api-gateway/src/routes/auth.ts
  backend/services/auth/src/index.d.ts
  backend/services/auth/src/index.d.ts.map
  backend/services/auth/src/index.js
  backend/services/auth/src/index.js.map
  backend/services/auth/src/index.ts
  frontend/src/app/layout.tsx
Labels: component: backend, component: frontend, component: infrastructure, component: security

fix: use npm install instead of npm ci in CI
  .github/workflows/ci-backend.yml
Labels: component: infrastructure

feat: complete InfluxDB integration with metrics API and dashboard
  backend/api-gateway/src/routes/index.ts
  backend/api-gateway/src/routes/metrics.ts
  frontend/src/app/dashboard/metrics/page.tsx
Labels: component: backend, component: frontend

feat: complete Dragonfly integration with caching, rate limiting, and sessions
  backend/api-gateway/src/middleware/cache.ts
  backend/api-gateway/src/middleware/rate-limit.ts
  backend/api-gateway/src/routes/cache.ts
  backend/api-gateway/src/routes/index.ts
  backend/api-gateway/src/services/session.service.ts
Labels: component: backend

feat: add ClickHouse and RabbitMQ integration to connection layer
  backend/api-gateway/package.json
  backend/api-gateway/src/config/index.ts
  backend/api-gateway/src/database/connection.ts
Labels: component: backend

docs: Phase 3 completion report - all databases integrated
  PHASE_3_COMPLETE.md
Labels: type: documentation

docs: update README with Phase 3 completion status
  README.md
Labels: type: documentation

docs: add comprehensive session summary
  SESSION_SUMMARY.md
Labels: type: documentation

fix: correct useState syntax error in alerts page
  frontend/src/app/dashboard/alerts/page.tsx
Labels: component: frontend

feat: complete dashboard redesign and comprehensive API documentation
  backend/api-gateway/package.json
  backend/api-gateway/src/config/swagger.ts
  backend/api-gateway/src/plugins/index.ts
  backend/api-gateway/src/routes/docs.ts
  backend/api-gateway/src/routes/index.ts
  docs/API_DOCUMENTATION.md
  docs/DASHBOARD_FEATURES.md
  frontend/src/app/dashboard/page.tsx
Labels: component: backend, component: frontend, type: documentation

docs: add comprehensive dashboard update report
  DASHBOARD_UPDATE.md
Labels: type: documentation

fix: resolve build errors and update analytics chart imports
  frontend/src/app/dashboard/analytics/page.tsx
  frontend/src/app/login/page.tsx
Labels: component: frontend

fix: resolve all build errors and replace @ant-design/charts with recharts
  frontend/src/app/dashboard/analytics/page.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/dashboard/users/page.tsx
  frontend/src/components/dashboard/RealTimeChart.tsx
Labels: component: frontend

feat: Replace demo auth with real backend API integration (Issue #22)
  ISSUE_22_REAL_AUTH_IMPLEMENTATION.md
  frontend/src/store/auth.ts
Labels: component: frontend, type: documentation

fix: Use auth-v2 routes with full implementation
  backend/api-gateway/src/routes/index.ts
Labels: component: backend

feat: Implement JWT refresh token flow (Issue #23)
  backend/api-gateway/src/middleware/auth.ts
  backend/api-gateway/src/routes/auth-v2.ts
  backend/services/auth/src/index.ts
  docs/phase4/ISSUE_23_JWT_REFRESH_TOKEN.md
  frontend/src/lib/api.ts
  frontend/src/store/auth.ts
  tests/test-refresh-token.sh
Labels: component: backend, component: frontend, type: documentation, type: test, component: security

feat: Implement password reset functionality (Issue #24)
  backend/api-gateway/src/routes/auth-v2.ts
  backend/api-gateway/src/services/auth.service.ts
  backend/services/auth/src/email.ts
  backend/services/auth/src/index.ts
  docs/phase4/ISSUE_24_PASSWORD_RESET.md
  frontend/src/app/forgot-password/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/reset-password/page.tsx
Labels: component: backend, component: frontend, type: documentation, component: security

docs: Sprint 1.1 completion summary
  docs/phase4/SPRINT_1.1_COMPLETE.md
Labels: type: documentation

fix: Replace authorize with requireRole in devices routes
  backend/api-gateway/src/routes/devices.ts
Labels: component: backend

docs: Add Gantt chart and sync all issues to GitHub project
  BACKEND_ISSUE_SUMMARY.md
  backend/api-gateway/src/plugins/index.ts
  docs/GANTT_CHART.md
Labels: component: backend, type: documentation

docs: Add project status update with Gantt summary
  docs/PROJECT_STATUS_UPDATE.md
Labels: type: documentation

.github/labeler.yml:

# Auto-label pull requests based on file patterns

# Component labels
'component: backend':
  - 'backend/**/*'
  - 'backend/*'

'component: frontend':
  - 'frontend/**/*'
  - 'frontend/*'

'component: agent':
  - 'agent/**/*'
  - 'agent/*'

'component: infrastructure':
  - 'k8s/**/*'
  - 'docker-compose.yml'
  - 'Dockerfile'
  - '.github/workflows/**/*'
  - 'terraform/**/*'

'component: database':
  - '**/*migration*'
  - '**/prisma/**/*'
  - '**/schema.sql'

'type: documentation':
  - 'docs/**/*'
  - '**/*.md'
  - 'README*'

'type: test':
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.test.js'
  - '**/*.spec.ts'
  - '**/*.spec.js'
  - '**/tests/**/*'
  - '**/__tests__/**/*'

'component: security':
  - '**/security/**/*'
  - '**/auth/**/*'
  - '**/middleware/auth*'
